<div class="min-h-screen bg-blue-600 p-6 flex flex-col items-center justify-center gap-6">

  <!-- Weather Card -->
  <div class="bg-white shadow-2xl rounded-2xl w-full max-w-md p-6">

    <h2 class="text-2xl font-bold text-center text-gray-700 mb-6">
      🌤 Weather Search
    </h2>

    <div class="flex gap-2">
      <input 
        [(ngModel)]="city" 
        placeholder="Enter City"
        class="flex-1 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
      />

      <button 
        (click)="search()"
        class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition duration-200"
      >
        Search
      </button>
    </div>
    
    <!-- Weather Result -->
    <div *ngIf="weather() as w" class="mt-6 bg-blue-50 p-4 rounded-xl shadow-inner">
      
      <h3 class="text-xl font-semibold text-gray-700">
        {{ w.name }}, {{ w.sys?.country }}
      </h3>

      <p class="text-lg text-gray-600 mt-2">
        Temperature: 
        <span class="font-bold text-blue-600">
          {{ w.main?.temp }} °C
        </span>
      </p>

      <p class="text-gray-600">
        Feels like: {{ w.main?.feels_like }} °C
      </p>

      <p class="text-gray-600">
        Min: {{ w.main?.temp_min }} °C |
        Max: {{ w.main?.temp_max }} °C
      </p>

      <p class="text-gray-600">
        Weather: 
        {{ w.weather?.[0]?.main }} -
        {{ w.weather?.[0]?.description }}
      </p>

      <p class="text-gray-600">
        Wind: {{ w.wind?.speed }} m/s,
        {{ w.wind?.deg }}°
      </p>

      <p class="text-gray-600">
        Visibility: {{ w.visibility }} m
      </p>

      <p class="text-gray-600">
        Clouds: {{ w.clouds?.all }} %
      </p>

    </div>

  </div>

  <!-- Map -->
  <div 
    *ngIf="weather()?.coord" 
    id="map" 
    class="w-full max-w-4xl h-80 rounded-xl shadow-lg mt-4">
  </div>
  
</div>